@import "./variables";
#navtop{
    border-top: $borders;
    }
    
    .navtop--others{
        border-bottom: $borders;
    }
    
    ul.navbar-nav.me-auto.mb-2.mb-lg-0.fs-4 {
        
        gap: 20px;
    }
    
    .div__flexbox{
        align-self: center;
    }
    
    
    
    .btn-outline-success {
        color: white;
        background-color: $color_general;
        border-color:$color_general;
    }
    .btn-outline-success:hover {
        color: $color_general;
        background-color: white;
        border-color:$color_general;
    }   
    
    
    .nav-link {
        color: $color_general;
        }
    
    .dropdown-item{
        color: #c2bdbd;
        }
    
    .col-md-3 > img{
        width: 100%;
    }
    
    div#navbarSupportedContent {
        justify-content: space-evenly;
    } 
    
    .foo::after{
        content: " *";
        color: #303030;   
        font-weight: bold;
    }
   


