@import "./variables";
@import "./responsive";

#navtop{
    border-top: $borders;
    }
    
    .navtop--others{
        border-bottom: $borders;
    }
    
    ul.navbar-nav.fs-5 {            
        gap: 0px;   
        @include laptop{
            gap:25px;
        }
    }  
    
    .div__flexbox{
        align-self: center;
    }
        
    .btn-outline-success {
        color:map-get($map: $palette, $key: 'c_light');
        background-color: map-get($map: $palette, $key: 'c_first');
        border-color:map-get($map: $palette, $key: 'c_first');
    }

    .btn-outline-success:hover {
        color: map-get($map: $palette, $key: 'c_first');
        background-color: map-get($map: $palette, $key: 'c_light');
        border-color:map-get($map: $palette, $key: 'c_first');
    }   
        
    .nav-link {
        color: map-get($map: $palette, $key: 'c_first');
        }
    
    .dropdown-item{
        color: map-get($map: $palette, $key: 'c_shop_ul');
        }
    
    .col-md-3 > img{
        width: 100%;
    }
    
    div#navbarSupportedContent {
        justify-content: space-evenly;
    } 
    
    .foo::after{
        content: " *";
        color: map-get($map: $palette, $key: 'c_second');  
        font-weight: bold;
    }
   


