@import "./variables";
.footer{
    letter-spacing: 0.1rem;    
    &__title{
        color: $color_general;
        font-size: 1.3rem;
    }
    &__subtitle{
        color: #978888;
        font-weight: bold;
    }
    &__text{
        color: #818181;
    }    
    &__pagenetwork:hover{
       color: $color_general;
    }
    &__li{
        list-style: none;
    }
    &__a{
        text-decoration: none;
        color: #818181;
    }
    &__bg{
        background-color: #eeeeee;
    }
    &__last{
        background-color:#303030;
    }    
    &__svg{
        width: 2rem;
        height:2rem;
        color: $color_general;
        &:hover{
            color: white;
        }   
    }
    &__links{
        text-align: center;
    }    
    ul.list-inline {
        text-align: center;
    }
    
    &__textlast{
        font-size: 1.3rem;
        text-align: center;
    }
}