@import "./variables";
.footer{
    letter-spacing: 0.1rem;    
    &__title{
        color: map-get($map: $palette, $key: 'c_first');
        font-size: 1.3rem;
    }
    &__subtitle{
        color: map-get($map: $palette, $key: 'c_footsub_tit');
        font-weight: bold;
    }
    &__text{
        color: map-get($map: $palette, $key: 'c_foottext');
    }    
    &__pagenetwork:hover{
       color: map-get($map: $palette, $key: 'c_first');
    }
    &__li{
        list-style: none;
    }
    &__a{
        text-decoration: none;
        color: map-get($map: $palette, $key: 'c_foottext');
    }
    &__bg{
        background-color: map-get($map: $palette, $key: 'c_footfirstbg');
    }
    &__last{
        background-color:map-get($map: $palette, $key: 'c_second');
    }    
    &__svg{
        width: 2rem;
        height:2rem;
        color: map-get($map: $palette, $key: 'c_first');
        &:hover{
            color: white;
        }   
    }
    &__links{
        text-align: center;
    }    
    ul.list-inline {
        text-align: center;
    }
    
    &__textlast{
        font-size: 1.3rem;
        text-align: center;
    }
}