@import "./variables";
@import "./responsive";

.img-carrusel {
    height: 90vh;
    object-fit: cover;
}

.section1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__height {
    height: 230px;
    object-fit: cover;
    @include movilL{
      height: 330px;
    }
}
 
a.navbar-brand {
  font-size: 1.5rem;
  color: #ae905c;
  font-weight:bolder;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nav-products:hover{
  color: #3e3e3e;
  font-weight: bolder;
}

h1.text-center {
  margin: 30px 0;
  color: #ae905c;
  font-weight: bolder;
}

.grillado__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
      @include movilM{
        margin-top: 10px;
        grid-template-columns: 1fr; 
    }
    @include movilL{
        margin-top: 10px;
        grid-template-columns: 1fr;
    }
    @include tablet{
      margin: 20px 30px;     
    }
    @include laptop{
      margin: 20px 30px; 
    }
}

.grillado__imagenes > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grillado__imagenes .vertical{
  position: relative;
}

.grillado__imagenes .horizontal{
  position: relative;
}
.vertical {
    grid-row: span 2;
}

.vertical:hover .overlayv{
  height: 100%;
  cursor: pointer;
}

.horizontal {
    grid-column: span 1;  
}

.horizontal:hover .overlay{
  height: 100%;
  cursor: pointer;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.904);
  width: 100%;
  height: 0;
  transition: .5 ease;
  overflow: hidden;
}

.overlayv{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.904);
  width: 100%;
  height: 0;
  transition: .5 ease;
  overflow: hidden;
}

.overlayv__words{
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.overlayv a{
  text-decoration:none;
  color: #ae905c;
  font-size: 1.5rem;  
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
}

.overlayv h2{
  font-size: 3.5rem;
  text-transform: uppercase;
}
.overlay__words{
  color: #000;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.overlay a{
  text-decoration:none;
  color: #ae905c;
  font-size: 1.5rem;      
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
}

.overlay h2{
  font-size: 3.5rem;
  text-transform: uppercase;
}

.line-container {
    position: relative;
}

.main__title{
  font-size: 2.5rem;
  text-align: center;
}
.main__box{
  align-items: center;
}
.main__text{
  font-size: 2rem; 
  padding: 15px; 
  border: #ae905c 1px solid;  
}
.main__h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ae905c;
}
.main__p{
  text-align: center;
}
.main__image{
  width: 100%;
}
.main__flex{
  display: flex;
  justify-content: center;
}
.main__chicken{
  margin-right: 10px;
  width: 40px;
  @include movilM{
    width: 25px;
  }
}
.main__span{
  position: relative;
  font-family: $fontchicken;
  @include movilM{
    font-size: 2rem;
  }
  @include laptop{
    font-size: 3.2rem;
  }
}

.main__span span{
  position: absolute;  
  right: 0;
  width:0;
  background: white;
  border-left: 1px solid black;
  animation: maquina 5s infinite alternate steps(29);
    @include movilM{
      font-size: 2rem;
    }
  }

  @keyframes maquina{
  from{
  width: 100%;
  }
  to{
  width: 0;
  }
  }

  .contact{
    font-size: 1.5rem;
      &__img img{
        vertical-align: sub;
        width: 80%;
        height: 30%;
        object-fit: cover;
        @include movilM{
          width: 32%;
          height: 100%;
          object-fit: cover;
        }
     }
      &__h2{       
       text-align: center;
       align-items: center;
     }
  }
  .form {
    text-align: center;
}
