@import "./variables";
.img-carrusel {
    height: 90vh;
    object-fit: cover;
}

.section1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__height {
    height: 280px;
}
 
.grillado__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
}
.grillado__imagenes > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grillado__imagenes .vertical{
  position: relative;
}

.grillado__imagenes .horizontal{
  position: relative;
}
.vertical {
    grid-row: span 2;
}
.horizontal {
    grid-column: span 1;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.507);
  width: 100%;
  height: 100%;
  transition: .5 ease;
  overflow: hidden;
}

.overlayv{
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
  transition: .5 ease;
  overflow: hidden;
}










.line-container {
    position: relative;
}
.line-effect {
    display: inline-block;
    color: $color_general;
    text-align: center;
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 1px;
        color: $color_general;
        background-color: currentColor;
        margin-top: 15px;
    }
    &::before {
        left: 120px;
    }
    &::after {
        right: 120px;
    }
}

.main__title{
  font-size: 2.5rem;
  text-align: center;
}
.main__box{
  align-items: center;
}
.main__text{
  font-size: 2rem; 
  padding: 15px; 
  border: #ae905c 1px solid;  
}
.main__h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ae905c;
}
.main__p{
  text-align: center;
}
.main__image{
  width: 100%;
}
.main__flex{
  display: flex;
  justify-content: center;
}
.main__chicken{
  margin-right: 10px;
  width: 40px;
}
.main__span{
  position: relative;
  font-family: $fontchicken;
}
.main__span span{
  position: absolute;  
  right: 0;
  width:0;
  background: white;
  border-left: 1px solid black;
  animation: maquina 5s infinite alternate steps(29);
  }
  @keyframes maquina{
  from{
  width: 100%;
  }
  to{
  width: 0;
  }
  }


