@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Nunito:wght@300;400&family=Great+Vibes&family=Sacramento&family=Source+Sans+Pro:wght@400;600&display=swap');
@font-face {
    font-family: 'LOVE-YOU';
    src: url('../fuente/loveyou.otf');
    font-family: 'abyssopelagic';
    src: url('../fuente/abyssopelagic.otf');
}
 /*   */

/*ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    scroll-behavior: smooth;      
    font-family: 'Source Sans Pro', sans-serif;     
}

html{
    font-size: 62.5%;
    
}

.header{
    display: flex;
    flex-direction: column;
    height: auto;        
}

.header__container1{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0 20px;
    border-bottom: #ae905c 1px solid;
}

.header__anchorlogo{
    text-decoration: none;    
    align-self: center;
}

.header__name{       
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    color: #ae905c;
    /* animation-name: aparecer; */
    animation-duration: 2s;
}

.header__imagelogo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;    
    margin-right: 60px;
}

.header__image{
    width: 120px;
    height:60px;
    animation-name: aparecer;
    animation-duration: 2s;
}

.header__h2{
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #ae905c;
    animation-name: aparecer;
    animation-duration: 2s;
}

@keyframes aparecer{
    0%{opacity: 0;}
    100%{opacity: 1;}
    }

.header__shop{
    display: flex;
    align-items: center;
}

.header__svg{
    width: 40px;
    height: 40px;
    color:#a8a7a7;
}

.header__svg:hover{
    color: #ae905c;
}

.header__container2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: #ae905c 1px solid;
    align-items: center;
    height: 50px;
}   

.header__list{
    display: flex;   
    gap: 30px;
}

.header__item{
    list-style: none;
    cursor: pointer;     
}

.header__link{       
    color:#ae905c;
    text-decoration: none;
    letter-spacing: 0.3rem;
}

.span_d{
    background-color: #ae905c;
}

.header__link:hover{ 
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    color: #ae905c;
}

.header__link--active{  
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color:#ae905c;
}

.header__item--hover:hover > .header__sublist{
    margin: 4px 4px; 
    display: block;  
    z-index: 100
}

.header__sublist{
    position:absolute;
    display: none;
    background-color: #303030;   
    padding: 10px 10px;     
}

.header__subitem{
    text-align: center;
    list-style: none;
    padding: 5px;    
}

.header__sublink{
    font-size: 1.2rem;
    text-decoration: none;    
    color:  #c2bdbd;
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.header__sublink:hover{  
    color: #ffffff;
}

.header__form {
    align-self: center;
    margin-left: 50px;
}

.header__input{
    border-radius: 2.5rem;
    border: 1px solid #ae905c;
    padding: 8px 0;
}



.footer__pagenetwork:hover{
color: #f39f3e;
}

.svg{
    width: 2rem;
    height:2rem;
    color: white;
}

.svg:hover{
    color: #f39f3e;
}

.svg__contact{
    width: 1.5rem;
    height: 1.5rem;      
    color: white;  
}


.aside__grid{
    justify-self: center;
}

.aside__container{
    margin: 30px 30px;
    text-align: center;
    font-size: 2rem;
}


.aside__iframe{
    height: 350px;
    width: 350px;
}  


.img-carrusel{
    height: 90vh;
    object-fit: cover;
}

.section1__img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }


  


.grillado{
    display: grid; 
    gap: 0.2rem; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-template-rows: auto; 
    grid-auto-flow: dense; 
  }
  
  .grillado > div > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .vertical{
    grid-row: span 2; 
  }
  
  .grande {
    grid-column: span 2; 
    grid-row: span 2; 
  }
  
  .horizontal{
    grid-column: span 2; 
  }
  
  
  @media screen and (max-width: 320px){
    .grillado{
      grid-template-columns: 1fr; }
  }








 .bg-gray{
     background-color: #eeeeee;
 }

.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.lines-effect{
    display: inline-block;
    position: relative;
    color: #ae905c;
    text-align: center;
}

.lines-effect::after, .lines-effect::before{
    content: '';
    position: absolute;
    width: 450px;
    height: 1px;
    background-color: currentColor;
    top: 0.7em;
}

.lines-effect::before{
    left: -480px;
}

.lines-effect::after{
    right: -480px;
}




@media screen and ( min-width: 780px) and (max-width:1024px){
    .lines-effect::after, .lines-effect::before{
        width: 200px;
    }
    .lines-effect::before{
        left: -230px;
    }
    
    .lines-effect::after{
        right: -230px;
    }
}

@media screen and ( min-width: 425px) and (max-width:780px){
    .lines-effect::after, .lines-effect::before{
        width: 110px;
    }
    .lines-effect::before{
        left: -140px;
    }
    
    .lines-effect::after{
        right: -140px;
    }
}

@media screen and ( max-width: 425px){
    .lines-effect::after, .lines-effect::before{
        width: 70px;
    }
    .lines-effect::before{
        left: -90px;
    }
    
    .lines-effect::after{
        right: -90px;
    }
}












    