@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Nunito:wght@300;400&family=Great+Vibes&family=Sacramento&family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Shizuru&family=Nunito:wght@300;400&display=swap");
@font-face {
  font-family: 'LOVE-YOU';
  src: url("../fuente/loveyou.otf");
  font-family: 'abyssopelagic';
  src: url("../fuente/abyssopelagic.otf");
}

@font-face {
  font-family: 'abyssopelagic';
  src: url("../fuente/abyssopelagic.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 62.5%;
}

#navtop {
  border-top: #ae905c 1px solid;
}

.navtop--others {
  border-bottom: #ae905c 1px solid;
}

ul.navbar-nav.fs-5 {
  gap: 0px;
}

@media screen and (min-width: 1024px) {
  ul.navbar-nav.fs-5 {
    gap: 25px;
  }
}

.div__flexbox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-outline-success {
  color: #fff;
  background-color: #ae905c;
  border-color: #ae905c;
}

.btn-outline-success:hover {
  color: #ae905c;
  background-color: #fff;
  border-color: #ae905c;
}

.nav-link {
  color: #ae905c;
}

.dropdown-item {
  color: #a8a7a7;
}

.col-md-3 > img {
  width: 100%;
}

div#navbarSupportedContent {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.foo::after {
  content: " *";
  color: #303030;
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.header__anchorlogo {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__name {
  font-family: "Sacramento", cursive;
  font-size: 4.5rem;
  color: #ae905c;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__name {
  text-align: -webkit-left;
  padding-left: 20px;
}

.header__imagelogo {
  text-decoration: none;
}

.header__imag {
  width: 95px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__h3 {
  padding: 10px;
  letter-spacing: 0.3rem;
  color: #ae905c;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__separation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 30px 0 0;
}

@media screen and (max-width: 425px) {
  .header__separation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__svg {
  width: 25px;
  height: 29px;
  color: #a8a7a7;
}

.header__svg:hover {
  color: #ae905c;
}

.header__image {
  width: 65px;
}

.header__link--active {
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ae905c;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a.nav-link {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.navbar-collapse {
  text-align: center;
}

.dropdown-menu a {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .d-flex {
    width: 200px;
  }
}

.carrito {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.table__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__productos > img {
  width: 9rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}

.table__cantidad > input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.hide, .remove {
  display: none;
}

.img-carrusel {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a.navbar-brand {
  font-size: 1.5rem;
  color: #ae905c;
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nav-products:hover {
  color: #303030;
  font-weight: bolder;
}

h1.text-center {
  font-size: 3rem;
  margin: 30px 0;
  color: #ae905c;
  font-weight: bolder;
}

.footer__span {
  color: #303030;
}

p.text-center {
  margin: 0 50px;
  font-size: 2.2rem;
  color: #303030;
}

@media screen and (max-width: 375px) {
  p.text-center {
    margin: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  p.text-center {
    margin: 0 20px;
  }
}

.grillado__imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: dense;
}

@media screen and (max-width: 375px) {
  .grillado__imagenes {
    margin-top: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .grillado__imagenes {
    margin-top: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grillado__imagenes {
    margin: 20px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .grillado__imagenes {
    margin: 20px 30px;
  }
}

.grillado__imagenes > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vertical {
  position: relative;
}

.horizontal {
  position: relative;
}

.vertical {
  grid-row: span 2;
}

.vertical:hover .overlayv {
  height: 100%;
  cursor: pointer;
}

.horizontal {
  grid-column: span 1;
}

.horizontal:hover .overlay, .horizontal:hover .overlayv {
  height: 100%;
  cursor: pointer;
}

.overlay, .overlayv {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.904);
  width: 100%;
  height: 0;
  -webkit-transition: .5 ease;
  transition: .5 ease;
  overflow: hidden;
}

.overlayv {
  background: rgba(0, 0, 0, 0.904);
}

.overlayv__words, .overlay__words {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay__words {
  color: #000;
}

.overlayv a, .overlay a, .overlayv a {
  text-decoration: none;
  color: #ae905c;
  font-size: 1.5rem;
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
}

.overlayv h2, .overlay h2, .overlayv h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.product__img {
  color: #ae905c;
  text-align: center;
}

.product__img > p {
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .product__img > p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .product__img > p {
    font-size: 1.5rem;
  }
}

.product__content {
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .product__content {
    margin-top: 0 px;
  }
}

@media screen and (max-width: 425px) {
  .product__content {
    margin-top: 0px;
  }
}

.product__contimg {
  position: relative;
  width: 100%;
  height: 50vh;
}

.product__contimg > img {
  width: 100%;
  height: 50vh;
  padding-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__contimg:hover .product__word {
  height: 100%;
  cursor: pointer;
}

img.product__imgall {
  padding-top: 10px;
}

.product__word {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: rgba(255, 255, 255, 0.904);
  width: 100%;
  height: 0;
  -webkit-transition: .5 ease;
  transition: .5 ease;
  overflow: hidden;
}

.product__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__buttonstyle {
  color: #000;
  border-color: #000;
  font-size: 1.2rem;
}

.product__buttonstyle:hover {
  color: #ae905c;
  border-color: #ae905c;
  background-color: #fff;
}

.line-container {
  position: relative;
}

.main__title {
  font-size: 2.5rem;
  text-align: center;
}

.main__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  font-size: 2rem;
  padding: 15px;
  border: #ae905c 1px solid;
}

.main__text:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(174, 144, 92, 0.5);
          box-shadow: 0 4px 12px 0 rgba(174, 144, 92, 0.5);
}

.main__h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ae905c;
}

.main__p {
  text-align: center;
}

.main__image {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .main__image {
    margin-top: 20px;
  }
}

.main__flex {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  .main__flex {
    margin-top: 20px;
  }
}

.main__chicken {
  margin-right: 10px;
  width: 40px;
}

@media screen and (max-width: 375px) {
  .main__chicken {
    width: 25px;
  }
}

.main__span {
  position: relative;
  font-family: "Shizuru", cursive;
}

@media screen and (max-width: 375px) {
  .main__span {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__span {
    font-size: 3.2rem;
  }
}

.main__span span {
  position: absolute;
  right: 0;
  width: 0;
  background: #fff;
  border-left: 1px solid #000;
  -webkit-animation: maquina 5s infinite alternate steps(29);
          animation: maquina 5s infinite alternate steps(29);
}

@media screen and (max-width: 375px) {
  .main__span span {
    font-size: 2rem;
  }
}

@-webkit-keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.contact {
  font-size: 1.5rem;
}

.contact__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 375px) {
  .contact__img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 6px;
    padding-bottom: 20px;
  }
}

.contact__img img {
  vertical-align: sub;
  width: 80%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 375px) {
  .contact__img img {
    width: 32%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contact__h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
}

.form {
  font-size: 1.5rem;
  text-align: -webkit-center;
  padding-bottom: 20px;
}

.form__items {
  width: 80%;
  padding: 10px 0 20px 0;
  border: #ae905c 1px solid;
}

@media screen and (max-width: 375px) {
  .form__items {
    width: 100%;
  }
}

.form__items:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(174, 144, 92, 0.5);
          box-shadow: 0 4px 12px 0 rgba(174, 144, 92, 0.5);
}

.form__content {
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.form__legend {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: underline;
}

.form__flat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.form__btn__cont {
  font-size: 1.5rem;
}

.pregfreg {
  font-size: 2.2rem;
  text-align: center;
  color: #303030;
}

.pregfreg__content {
  width: 90%;
  padding-top: 30px;
}

@media screen and (max-width: 375px) {
  .pregfreg__content {
    width: 100%;
  }
}

.pregfreg__h3 {
  font-size: 1.7rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #303030;
}

.pregfreg__p {
  font-size: 1.7rem;
  margin: 30px 0;
}

.pregfreg__video {
  width: 400px;
}

@media screen and (max-width: 375px) {
  .pregfreg__video {
    width: 300px;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 16px;
  background-color: #4cc370;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #fff;
  background-color: #3d9e5a;
}

.my-float {
  margin-top: 16px;
}

/* offset-x > | offset-y ^| blur-radius | spread-radius | color */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
    opacity: 0;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 0px;
}

@media (max-width: 360px) {
  .nav-bottom {
    width: 320px;
  }
}

.whatsapp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60px;
  height: 60px;
  z-index: 8;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 10px;
  padding: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 6px 0px rgba(68, 68, 68, 0.705);
}

.circle-anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 60px;
  height: 60px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #77bb4a;
  -webkit-animation: pulse 1.2s 4.0s ease 4;
          animation: pulse 1.2s 4.0s ease 4;
}

.popup-whatsapp {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 85px;
  right: 6px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 10px;
  background-color: #ae905ce5;
  /* offset-x > | offset-y ^| blur-radius | spread-radius | color */
  -webkit-box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 2px 1px 6px 0px rgba(68, 68, 68, 0.705);
  -webkit-animation: slideInRight .6s 0.0s both;
          animation: slideInRight .6s 0.0s both;
}

@media (max-width: 680px) {
  .popup-whatsapp p {
    font-size: 0.9em;
  }
}

.popup-whatsapp > .content-whatsapp.-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-whatsapp > .content-whatsapp.-top p {
  color: #585858;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.0em;
}

.popup-whatsapp > .content-whatsapp.-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.closePopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  margin: 0px 0px 8px 0px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4cc370;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}

.closePopup:hover {
  background-color: #3d9e5a;
  -webkit-transition: .3s;
  transition: .3s;
}

.send-msPopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
  box-shadow: 1px 1px 2px 0px rgba(68, 68, 68, 0.705);
}

.send-msPopup:hover {
  background-color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.is-active-whatsapp-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideInRight .6s 0.0s both;
          animation: slideInRight .6s 0.0s both;
  background-color: #ae905ce8;
}

input.whats-input[type=text] {
  width: 250px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid #ffffff;
  border-radius: 20px;
  font-size: 1em;
  background-color: #ffffff;
  padding: 0px 0px 0px 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 420px) {
  input.whats-input[type=text] {
    width: 225px;
  }
}

input.whats-input::-webkit-input-placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}

input.whats-input:-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}

input.whats-input::-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}

input.whats-input::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(68, 68, 68, 0.705);
  opacity: 1;
}

input.whats-input[type=text]:focus {
  background-color: #f8f8f8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transition: .3s;
  transition: .3s;
}

.wts_send {
  color: #ae905c;
}

.wts_send:hover {
  color: #303030;
}

.icon-whatsapp-small {
  width: 24px;
  height: 24px;
}

.icon-whatsapp {
  width: 45px;
  height: 45px;
}

.icon-font-color {
  color: #ffffff;
}

.icon-font-color--black {
  color: #333333;
}

.footer {
  letter-spacing: 0.1rem;
  padding-top: 20px;
}

.footer__title {
  color: #ae905c;
  font-size: 1.3rem;
}

.footer__subtitle {
  color: #978888;
  font-weight: bold;
}

.footer__text {
  color: #818181;
}

.footer__pagenetwork:hover {
  color: #ae905c;
}

.footer__li {
  list-style: none;
}

.footer__a {
  text-decoration: none;
  color: #818181;
}

.footer__a:hover {
  color: #303030;
}

.footer__bg {
  background-color: #eeeeee;
}

.footer__last {
  background-color: #303030;
}

.footer__svg {
  width: 2rem;
  height: 2rem;
  color: #ae905c;
}

.footer__svg:hover {
  color: #a8a7a7;
}

.footer__links {
  text-align: center;
}

.footer ul.list-inline {
  text-align: center;
}

.footer__textlast {
  font-size: 1.3rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */