@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Nunito:wght@300;400&family=Great+Vibes&family=Sacramento&family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Shizuru&family=Nunito:wght@300;400&display=swap");
@font-face {
  font-family: 'LOVE-YOU';
  src: url("../fuente/loveyou.otf");
  font-family: 'abyssopelagic';
  src: url("../fuente/abyssopelagic.otf");
}

@font-face {
  font-family: 'abyssopelagic';
  src: url("../fuente/abyssopelagic.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 62.5%;
}

#navtop {
  border-top: #ae905c 1px solid;
}

.navtop--others {
  border-bottom: #ae905c 1px solid;
}

ul.navbar-nav.fs-5 {
  gap: 0px;
}

@media screen and (min-width: 1024px) {
  ul.navbar-nav.fs-5 {
    gap: 25px;
  }
}

.div__flexbox {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-outline-success {
  color: #fff;
  background-color: #ae905c;
  border-color: #ae905c;
}

.btn-outline-success:hover {
  color: #ae905c;
  background-color: #fff;
  border-color: #ae905c;
}

.nav-link {
  color: #ae905c;
}

.dropdown-item {
  color: #a8a7a7;
}

.col-md-3 > img {
  width: 100%;
}

div#navbarSupportedContent {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.foo::after {
  content: " *";
  color: #303030;
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.header__anchorlogo {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__name {
  font-family: "Sacramento", cursive;
  font-size: 4.5rem;
  color: #ae905c;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__name {
  text-align: -webkit-left;
  padding-left: 20px;
}

.header__imagelogo {
  text-decoration: none;
}

.header__imag {
  width: 95px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__h3 {
  padding: 10px;
  letter-spacing: 0.3rem;
  color: #ae905c;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header__separation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 30px 0 0;
}

@media screen and (max-width: 425px) {
  .header__separation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__svg {
  width: 25px;
  height: 29px;
  color: #a8a7a7;
}

.header__svg:hover {
  color: #ae905c;
}

.header__image {
  width: 65px;
}

.header__link--active {
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #ae905c;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a.nav-link {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.navbar-collapse {
  text-align: center;
}

.dropdown-menu a {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .d-flex {
    width: 200px;
  }
}

.img-carrusel {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section1-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a.navbar-brand {
  font-size: 1.5rem;
  color: #ae905c;
  font-weight: bolder;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nav-products:hover {
  color: #303030;
  font-weight: bolder;
}

h1.text-center {
  margin: 30px 0;
  color: #ae905c;
  font-weight: bolder;
}

.footer__span {
  color: #303030;
}

p.text-center {
  margin: 0 50px;
  font-size: 1.5rem;
  color: #303030;
}

@media screen and (max-width: 375px) {
  p.text-center {
    margin: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  p.text-center {
    margin: 0 20px;
  }
}

.grillado__imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: dense;
}

@media screen and (max-width: 375px) {
  .grillado__imagenes {
    margin-top: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .grillado__imagenes {
    margin-top: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grillado__imagenes {
    margin: 20px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .grillado__imagenes {
    margin: 20px 30px;
  }
}

.grillado__imagenes > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vertical {
  position: relative;
}

.horizontal {
  position: relative;
}

.vertical {
  grid-row: span 2;
}

.vertical:hover .overlayv {
  height: 100%;
  cursor: pointer;
}

.horizontal {
  grid-column: span 1;
}

.horizontal:hover .overlay, .horizontal:hover .overlayv {
  height: 100%;
  cursor: pointer;
}

.overlay, .overlayv {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.904);
  width: 100%;
  height: 0;
  -webkit-transition: .5 ease;
  transition: .5 ease;
  overflow: hidden;
}

.overlayv {
  background: rgba(0, 0, 0, 0.904);
}

.overlayv__words, .overlay__words {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay__words {
  color: #000;
}

.overlayv a, .overlay a, .overlayv a {
  text-decoration: none;
  color: #ae905c;
  font-size: 1.5rem;
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
}

.overlayv h2, .overlay h2, .overlayv h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.product__img {
  color: #ae905c;
  text-align: center;
}

.product__img > p {
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 10px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .product__img > p {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .product__img > p {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}

.product__content {
  margin-top: 20px;
}

@media screen and (max-width: 375px) {
  .product__content {
    margin-top: 0 px;
  }
}

@media screen and (max-width: 425px) {
  .product__content {
    margin-top: 0px;
  }
}

.product__contimg {
  position: relative;
  width: 100%;
  height: 50vh;
}

.product__contimg > img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__contimg:hover .product__word {
  height: 100%;
  cursor: pointer;
}

.product__word {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.904);
  width: 100%;
  height: 0;
  -webkit-transition: .5 ease;
  transition: .5 ease;
  overflow: hidden;
}

.product__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__buttonstyle {
  color: #000;
  border-color: #000;
  font-size: 1.2rem;
}

.product__buttonstyle:hover {
  color: #ae905c;
  border-color: #ae905c;
  background-color: #fff;
}

.line-container {
  position: relative;
}

.main__title {
  font-size: 2.5rem;
  text-align: center;
}

.main__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  font-size: 2rem;
  padding: 15px;
  border: #ae905c 1px solid;
}

.main__h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #ae905c;
}

.main__p {
  text-align: center;
}

.main__image {
  width: 100%;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__chicken {
  margin-right: 10px;
  width: 40px;
}

@media screen and (max-width: 375px) {
  .main__chicken {
    width: 25px;
  }
}

.main__span {
  position: relative;
  font-family: "Shizuru", cursive;
}

@media screen and (max-width: 375px) {
  .main__span {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .main__span {
    font-size: 3.2rem;
  }
}

.main__span span {
  position: absolute;
  right: 0;
  width: 0;
  background: #fff;
  border-left: 1px solid #000;
  -webkit-animation: maquina 5s infinite alternate steps(29);
          animation: maquina 5s infinite alternate steps(29);
}

@media screen and (max-width: 375px) {
  .main__span span {
    font-size: 2rem;
  }
}

@-webkit-keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.contact {
  font-size: 1.5rem;
}

.contact__img img {
  vertical-align: sub;
  width: 80%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 375px) {
  .contact__img img {
    width: 32%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contact__h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
}

.form {
  text-align: center;
}

.footer {
  letter-spacing: 0.1rem;
}

.footer__title {
  color: #ae905c;
  font-size: 1.3rem;
}

.footer__subtitle {
  color: #978888;
  font-weight: bold;
}

.footer__text {
  color: #818181;
}

.footer__pagenetwork:hover {
  color: #ae905c;
}

.footer__li {
  list-style: none;
}

.footer__a {
  text-decoration: none;
  color: #818181;
}

.footer__bg {
  background-color: #eeeeee;
}

.footer__last {
  background-color: #303030;
}

.footer__svg {
  width: 2rem;
  height: 2rem;
  color: #ae905c;
}

.footer__svg:hover {
  color: white;
}

.footer__links {
  text-align: center;
}

.footer ul.list-inline {
  text-align: center;
}

.footer__textlast {
  font-size: 1.3rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */